*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: sans-serif;
}








.logoback{
    background-color:rgb(255, 255, 255);
    background-repeat: repeat-x;
    padding: 0.5em 1em;
    position: relative;
}

.logoback h1{
    display: inline-block;
    font-weight: 900;
    vertical-align: 30%;
} 

main{
    background-color: rgb(225, 225, 225);
    padding: 5% 15% 2% 15%;
}








.bottoni{
    background-color:white;
    padding: 20px 5px 15px 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#attivita{
    color: white;
    background-color: rgb(77, 77, 219);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 1px;
}

#sezione{
    color: rgb(225, 225, 225);
    margin-left: 1px;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 10px;
    outline-width: 0.5px;
    outline-style: solid;
    outline-color: rgb(225, 225, 225);
}




p{
    display: inline;
}

.principale{
    display: block;
    background-color:white;
    margin-top: 2px;
    padding: 40px 5px 15px 45px;
/*     border-top-right-radius: ;
    border-top-left-radius: ; */

}

.principale h3{
    
    line-height: 110%;
    font-size: 19px;
    font-weight: 800;
}

.principale ul li{
    
    padding-top: 5px ;
    list-style-type: none;
    margin-bottom: 1em;
    
}

.principale ul{

    margin-bottom:2em;


}